@import "tailwindcss";

@theme {
  --font-sans: 'Tajawal', sans-serif;
  
  --color-primary: #8B7355;
  --color-primary-dark: #6B563D;
  --color-accent: #D4C3A3;
  --color-background: #FDFBF7;
  --color-surface: #FFFFFF;
  --color-text-main: #2D2D2D;
  --color-text-muted: #666666;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text-main);
}
